<a href="https://colab.research.google.com/github/ahughen-dcs/datascience-box/blob/main/New_Doc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.7      ✔ dplyr   1.0.10
✔ tidyr   1.2.0      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
install.packages("openintro")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘airports’, ‘cherryblossom’, ‘usdata’

In [ ]:
count(seattlepets)

  n
1 52519

In [ ]:
head(seattlepets)

  license_issue_date license_number animal_name species
1 2018-11-16         8002756        Wall-E      Dog
2 2018-11-11         S124529        Andre       Dog
3 2018-11-21         903793         Mac         Dog
4 2018-11-23         824666         Melb        Cat
5 2018-12-30         S119138        Gingersnap  Cat
6 2018-12-16         S138529        Cody        Dog
  primary_breed
1 Mixed Breed, Medium (up to 44 lbs fully grown)
2 Terrier, Jack Russell
3 Retriever, Labrador
4 Domestic Shorthair
5 Domestic Shorthair
6 Retriever, Labrador
  secondary_breed                 zip_code
1 Mix                             98108
2 Dachshund, Standard Wire Haired 98117
3 NA                              98136
4 NA                              98117
5 Mix                             98144
6 NA                              98103

In [ ]:
seattlepets %>%
  count(animal_name, sort = TRUE)

      animal_name           n
1     NA                    483
2     Lucy                  439
3     Charlie               387
4     Luna                  355
5     Bella                 331
6     Max                   270
7     Daisy                 261
8     Molly                 240
9     Jack                  232
10    Lily                  232
11    Stella                227
12    Lola                  225
13    Buddy                 218
14    Sophie                211
15    Oliver                210
16    Cooper                205
17    Maggie                201
18    Penny                 193
19    Ruby                  187
20    Sadie                 178
21    Chloe                 173
22    Milo                  172
23    Henry                 169
24    Rosie                 169
25    Pepper                164
26    Olive                 158
27    Bailey                157
28    Scout                 153
29    Leo                   150
30    Zoe                   149
⋮     ⋮                     ⋮
13901 Zou Zou               1
13902 Zozo                  1
13903 Zsa Zsa Gabor         1
13904 Zsa-Zsa               1
13905 Zsebi                 1
13906 Zsiga                 1
13907 Zsuska                1
13908 Zu-Zu                 1
13909 Zubie                 1
13910 Zug Zug               1
13911 Zuka                  1
13912 Zukari                1
13913 Zuki                  1
13914 Zuko Lee              1
13915 Zuky                  1
13916 Zule                  1
13917 Zuli                  1
13918 Zumi                  1
13919 Zuna                  1
13920 Zungi                 1
13921 Zunino                1
13922 Zunni                 1
13923 Zura                  1
13924 Zurie                 1
13925 Zusa                  1
13926 Zuul                  1
13927 ZuZu                  1
13928 Zuzu Petals Voortella 1
13929 Zydeco                1
13930 Zydeco Bleu           1

In [ ]:
seattlepets %>% 
  group_by(species) %>%
  count(animal_name, sort = TRUE)

      species animal_name            n
1     Cat     NA                     406
2     Dog     Lucy                   337
3     Dog     Charlie                306
4     Dog     Bella                  249
5     Dog     Luna                   244
6     Dog     Daisy                  221
7     Dog     Cooper                 189
8     Dog     Lola                   187
9     Dog     Max                    186
10    Dog     Molly                  186
11    Dog     Stella                 185
12    Dog     Buddy                  175
13    Dog     Jack                   167
14    Dog     Maggie                 158
15    Dog     Penny                  153
16    Dog     Sadie                  153
17    Dog     Sophie                 152
18    Dog     Ruby                   150
19    Dog     Lily                   146
20    Dog     Rosie                  144
21    Dog     Bailey                 139
22    Dog     Oliver                 137
23    Dog     Chloe                  134
24    Dog     Scout                  127
25    Dog     Coco                   122
26    Dog     Olive                  122
27    Dog     Milo                   120
28    Dog     Pepper                 120
29    Dog     Henry                  119
30    Dog     Riley                  117
⋮     ⋮       ⋮                      ⋮
16794 Goat    Junebug                1
16795 Goat    Lilac                  1
16796 Goat    Linda                  1
16797 Goat    Lula                   1
16798 Goat    Magnolia               1
16799 Goat    Margot                 1
16800 Goat    Max                    1
16801 Goat    Moppet                 1
16802 Goat    Nani                   1
16803 Goat    Olive                  1
16804 Goat    Pegasis                1
16805 Goat    Pepina                 1
16806 Goat    Phyllis                1
16807 Goat    Piper                  1
16808 Goat    Professor Nibblesworth 1
16809 Goat    Ramsey                 1
16810 Goat    Robuchon               1
16811 Goat    Sassy                  1
16812 Goat    Sister Bertrille       1
16813 Goat    Squiggie               1
16814 Goat    Tacoma                 1
16815 Goat    Tati                   1
16816 Goat    Teddy                  1
16817 Goat    Truffle                1
16818 Pig     Atticus                1
16819 Pig     Coconut                1
16820 Pig     Darla                  1
16821 Pig     Millie                 1
16822 Pig     Othello                1
16823 Pig     NA                     1

In [ ]:
install.packages("starwars")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message:
“package ‘starwars’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”

In [ ]:
library(openintro)

Loading required package: airports

Loading required package: cherryblossom

Loading required package: usdata